/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Base styles.
   ========================================================================== */

html, body {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Roboto, Arial, sans-serif;
  background-color: #efefef;
  background-color: #fff;
}

a {
  color: rgb(0, 0, 238) !important;
}

a:hover {
  color: rgb(6, 6, 132) !important;
}


/* ==========================================================================
   Layout styles.
   ========================================================================== */
main {
  padding: 24px;
  display: grid;
  grid-template-areas:
    'header dp'
    'contacts contacts'
    'profile profile'
    'skills skills'
    'experience experience'
    'education education';
  grid-template-columns: auto min-content;
  max-width: 1400px;
}

header {
  grid-area: header;
}

.dp {
  grid-area: dp;
}

.contacts {
  grid-area: contacts;
}

.profile {
  grid-area: profile;
}

.skills {
  grid-area: skills;
}

.experience {
  grid-area: experience;
}

.education {
  grid-area: education;
}

@media (min-width: 1000px) {
  main {
    margin: 0 auto;
    grid-template-areas:
    'header dp'
    'profile experience'
    'contacts experience'
    'skills experience'
    'education experience';
    grid-template-columns: 30% auto;
    grid-column-gap: 24px;
  }
}

@media print {
  html {
    zoom: .85;
  }
    
  main {
    margin: 0 auto;
    grid-template-areas:
    'header header'
    'profile experience'
    'contacts experience'
    'skills experience'
    'education experience';
    grid-template-columns: 35% auto;
    grid-column-gap: 24px;
  }

  .dp {
    display: none;
  }
}

/* ==========================================================================
   Appearance styles.
   ========================================================================== */
body {
  color: #47167d;
  background: url(../img/sm.bg.svg);
  background-repeat: no-repeat;
  background-position-x: -300px;
  background-color: #fff;
}

@media print, (min-width: 640px) {
  body {
    background-position-x: 0;
  }
}

@media print, (min-width: 1000px) {
  body {
    background-image: url(../img/lg.bg.svg);
    background-size: contain;
  }
}

@media print {
  body {
    /*background-image: url(../img/lg.bg.svg);*/
    background-image: url(../img/printbg.png);
  }
}

.row {
  /* background: url(../img/bg.png); */
  /* background-size: 1200px 700px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: 400px; */
  /* background-position-y: 1210px; */
}

@media print {
  .row {
    background-image: none;
    background-color: transparent;
  }
  main {
    background-color: transparent;
  }
  html, body {
    background-color: #fff;
  }
  body {
    /* background-image: url(../img/bg.png); */
    /* background-size: 1200px 700px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: 400px; */
    /* background-position-y: 1210px; */
  }
}

header {
  color: #fff;
}

h1 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: solid 1px #47167d;
}

h3 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 0px;
  margin-top: 12px;
}

h3:first-child {
  margin-top: 0;
}

h4, h5 {
  font-weight: normal;
  margin: 0;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
  border-bottom: solid 2px #fff;
  display: inline-block;
  padding-bottom: 4px;
}

@media print {
  .title {
    margin-bottom: 32px;
  }
}

.dp {
  text-align: right;
}

.dp > img {
  border-radius: 50%;
  border: 5px solid white;
  width: 100px;
  height: auto;
}

.profile {
  font-size: 1em;
}

@media (min-width: 1000px) {
  .dp > img {
    width: 160px;
  }
}

@media print {
  .dp > img {
    width: 160px;
  }
}

@media print {
  .dp {
    visibility: hidden;
  }
}

.page {
  padding-top: 0;
}

.contact-list {
  list-style: none;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.contact-list li {
  margin-bottom: 8px;
  width: 50%;
  text-align: center;
}

@media print, (min-width: 1000px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .contact-list li {
    width: 100%;
    text-align: left;
  }
}

.h3-wrapper {
  display: flex;
  align-items: center;
}

.copy ul.store-links {
  display: flex;
  padding: 4px 4px 4px 24px;
}

.store-links li {
  padding: 4px;
}

.store-links li img {
  width: 24px;
  height: auto;
}

.contact-list li img {
  width: 24px;
  height: auto;
  margin-right: 8px;
}

.contact-list li svg {
  width: 24px;
  height: auto;
  margin-right: 8px;
}

.gmail {
  display: none;
}

.gmail svg {
  fill: #D14836;
}

.github svg {
  fill: #181717;
}

.linkedin svg {
  fill: #0077B5;
}

.firefox {
  display: none;
}

.gmap svg {
  display: none;
}

@media print, (min-width: 400px) {
  .firefox {
    display: list-item;
  }

  .firefox svg {
    fill: #FF7139;
  }

  .gmap svg {
    fill: #4285F4;
    display: inline-flex;
  }
}

.whatsapp {
  display: none;
}

.whatsapp svg {
  fill: #25D366;
}

p.with-breaks > span {
  display: block;
}

@media only screen and (min-width: 500px) {
  p.with-breaks > span {
    display: inline;
  }
}

@media print, (min-width: 1000px) {
  p.with-breaks > span {
    display: block;
  }
}

.copy {
  font-size: 15px;
}

.copy p {
  font-size: 1em;
  margin: 0;
}

.copy h3 {
  font-size: 1.3em;
}

.copy h4 {
  font-size: 1em;
  font-weight: 500;
}

.copy h5 {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin-top: 4px;
  color: #000;
}

.copy ul {
  list-style-type: none;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

li.dashed {
  text-indent: -8px;
  padding-left: 8px;
}
li.dashed:before {
  content: "- ";
  text-indent: -8px;
}

li.tabbed {
  padding-left: 20px;
}

i {
  color: #000;
}


/* ==========================================================================
   media overwrites.
   ========================================================================== */
